<main id="main" class="main">
  <div class="pagetitle">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item">Product & Article</li>
        <li class="breadcrumb-item active">New Article</li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">New Article</h5>
        <form [formGroup]="articleForm" (ngSubmit)="onSubmit()" class="row g-3">
          <!-- idArticle?: number
          ArticleRef = "";
          ArticleName = "";
          DescriptionArticle = "";
          PurchasePrice = 0;
          SellingPrice = 0;
          FamilyID = "";
          StockQuantity = 0; -->
          <div class="col-6">
            <label for="ArticleRef" class="form-label">Article Ref</label>
            <input type="text" id="ArticleRef" formControlName="ArticleRef" class="form-control">
            <div *ngIf="articleForm.get('ArticleRef')?.invalid && articleForm.get('ArticleRef')?.touched || showAlert">
              <small class="text-danger" *ngIf="articleForm.get('ArticleRef')?.errors?.['required']">Article Ref is
                required.</small>
              <small class="text-danger" *ngIf="articleForm.get('ArticleRef')?.errors?.['pattern']">Invalid format (3-10
                alphanumeric characters).</small>
            </div>
          </div>
          <div class="col-6">
            <label for="ArticleName" class="form-label">Article Name</label>
            <input type="text" id="ArticleName" formControlName="ArticleName" class="form-control">
            <div
              *ngIf="articleForm.get('ArticleName')?.invalid && articleForm.get('ArticleName')?.touched || showAlert">
              <small class="text-danger" *ngIf="articleForm.get('ArticleName')?.errors?.['required']">Article Name is
                required.</small>
            </div>
          </div>
          <div class="col-md-6">
            <label for="FamilySelect" class="form-label">Product Family</label>
            <select id="FamilySelect" formControlName="idFamily" class="form-select">
              <option *ngFor="let family of listFamilly" value="{{family.idFamilly}}">{{family.familyName}}</option>

            </select>
            <div *ngIf="articleForm.get('idFamily')?.invalid && articleForm.get('idFamily')?.touched || showAlert">
              <small class="text-danger" *ngIf="articleForm.get('idFamily')?.errors?.['required']">Product Family
                is required.</small>
            </div>
          </div>
          <div class="col-6">
            <label for="articleDesc" class="form-label">Description of Article</label>
            <input type="text" id="DescriptionArticle" formControlName="DescriptionArticle" class="form-control">
            <div
              *ngIf="articleForm.get('DescriptionArticle')?.invalid && articleForm.get('DescriptionArticle')?.touched || showAlert">
              <small class="text-danger" *ngIf="articleForm.get('DescriptionArticle')?.errors?.['required']">Description
                is
                required.</small>
            </div>
          </div>
          <div class="col-6">
            <label for="stockQuantity" class="form-label">stock Quantity</label>
            <input type="text" id="stockQuantity" formControlName="stockQuantity" class="form-control">
            <div
              *ngIf="articleForm.get('stockQuantity')?.invalid && articleForm.get('stockQuantity')?.touched || showAlert">
              <small class="text-danger" *ngIf="articleForm.get('stockQuantity')?.errors?.['required']">Purchase Price
                is
                required.</small>
              <small class="text-danger" *ngIf="articleForm.get('stockQuantity')?.errors?.['pattern']">Invalid price
                format.</small>
            </div>
          </div>
          <div class="col-6">
            <label for="PurchasePrice" class="form-label">Purchase Price</label>
            <input type="text" id="pricPurchase" formControlName="PurchasePrice" class="form-control">
            <div
              *ngIf="articleForm.get('PurchasePrice')?.invalid && articleForm.get('PurchasePrice')?.touched || showAlert">
              <small class="text-danger" *ngIf="articleForm.get('PurchasePrice')?.errors?.['required']">Purchase Price
                is
                required.</small>
              <small class="text-danger" *ngIf="articleForm.get('PurchasePrice')?.errors?.['pattern']">Invalid price
                format.</small>
            </div>
          </div>
          <div class="col-6">
            <label for="SellingPrice" class="form-label">Selling Price</label>
            <input type="text" id="SellingPrice" formControlName="SellingPrice" class="form-control">
            <div
              *ngIf="articleForm.get('SellingPrice')?.invalid && articleForm.get('SellingPrice')?.touched || showAlert">
              <small class="text-danger" *ngIf="articleForm.get('SellingPrice')?.errors?.['required']">Selling Price is
                required.</small>
              <small class="text-danger" *ngIf="articleForm.get('SellingPrice')?.errors?.['pattern']">Invalid price
                format.</small>
            </div>
          </div>
          <div class="text-start">
            <button type="submit" class="btn btn-primary m-2">Create</button>
            <a routerLink="/list-article" class="btn btn-secondary m-2">Cancel</a>
          </div>
        </form>
      </div>
    </div>
    <div *ngIf="showAlert" class="alert alert-danger alert-dismissible fade show" role="alert">
      All fields are required.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
        (click)="showAlert = false"></button>
    </div>
  </section>
</main>